body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#calculator-container{
  display: grid;
  row-gap: 2ch;
  padding: 3ch;
  background-color: hsl(0, 0%, 90%);
}

#display-container{
  display: grid;
  grid-template-columns: max-content 1fr;
}

#equation-symbol-container{
 display: grid;
 font-size: 4ch;
 justify-content: center;
 align-items: center;
}

#output-container{
  display: grid;
  justify-content: end;
  padding-right: .4ch;
  font-family: 'Poppins','Courier New', Courier, monospace;
  font-size: 5ch;
  font-weight: 400;
}

#buttons-container{
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
}

button{
  padding: 3ch;
  border: 2px solid hsl(0, 0%, 90%);
}

button:hover{
  background-color: hsl(0, 0%, 90%);
  border-color: hsl(0, 0%, 85%);
}

